<h1>Listing german_go_leagues</h1>

<table>
  <tr>
    <th>Brett</th>
    <th>Spieler1</th>
    <th>Spieler2</th>
    <th>Datum</th>
    <th>Datei</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @german_go_leagues.each do |german_go_league| %>
  <tr>
    <td><%= german_go_league.brett %></td>
    <td><%= german_go_league.spieler1 %></td>
    <td><%= german_go_league.spieler2 %></td>
    <td><%= german_go_league.datum %></td>
    <td><%= german_go_league.datei %></td>
    <td><%= link_to 'Show', german_go_league %></td>
    <td><%= link_to 'Edit', edit_german_go_league_path(german_go_league) %></td>
    <td><%= link_to 'Destroy', german_go_league, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New German go league', new_german_go_league_path %>
