<table>
  <tr>
    <th>Brett</th>
    <th>Spieler 1</th>
    <th>Spieler 2</th>
    <th>Datum</th>
    <th>Datei</th>
		<% if can? :manage, GermanGoLeague %>
			<th>Actions</th>
		<% end %>
  </tr>

<% @german_go_leagues.each do |german_go_league| %>
  <tr>
    <td><%= german_go_league.brett %></td>
    <td><%= german_go_league.spieler1 %></td>
    <td><%= german_go_league.spieler2 %></td>
    <td><%= german_go_league.datum.strftime("%d.%m.%y - %H:%M") %></td>
    <td>
			<%
				unless german_go_league.datei.url == nil
			%>
				<%= link_to 'DL', german_go_league.datei.url %>
			<% end %>		
		</td>
    <% if can? :manage, german_go_league %>
      <td>
				<%= link_to 'Edit', edit_german_go_league_path(german_go_league) %>
				<%= link_to 'Destroy', german_go_league, confirm: 'Are you sure?', method: :delete %>
			</td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :manage, GermanGoLeague %>
	<%= link_to 'Neues Spiel eintragen', new_german_go_league_path %>
<% end %>
