<p id="notice"><%= notice %></p>

<p>
  <b>Brett:</b>
  <%= @german_go_league.brett %>
</p>

<p>
  <b>Spieler1:</b>
  <%= @german_go_league.spieler1 %>
</p>

<p>
  <b>Spieler2:</b>
  <%= @german_go_league.spieler2 %>
</p>

<p>
  <b>Datum:</b>
  <%= @german_go_league.datum %>
</p>

<p>
  <b>Datei:</b>
  <%= @german_go_league.datei %>
</p>


<%= link_to 'Edit', edit_german_go_league_path(@german_go_league) %> |
<%= link_to 'Back', german_go_leagues_path %>
