<%= form_for(@tournament_information) do |f| %>
  <% if @tournament_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament_information.errors.count, "error") %> prohibited this tournament_information from being saved:</h2>

      <ul>
      <% @tournament_information.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anfahrt %><br />
    <%= f.text_area :anfahrt %>
  </div>
  <div class="field">
    <%= f.label :ausschreibung %><br />
    <%= f.text_area :ausschreibung %>
  </div>
  <div class="field">
    <%= f.label :kontakt %><br />
    <%= f.text_area :kontakt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
