<p id="notice"><%= notice %></p>
<p id= "alert"><%= alert %></p>
<table>
  <tr>
    <th>Anfahrt</th>
    <th>Ausschreibung</th>
    <th>Kontakt</th>
    <th colspan="2">Actions</th>
  </tr>

<% @tournament_informations.each do |tournament_information| %>
  <tr>
    <td><%= tournament_information.anfahrt %></td>
    <td><%= tournament_information.ausschreibung %></td>
    <td><%= tournament_information.kontakt %></td>
    <td><%= link_to 'Edit', edit_tournament_information_path(tournament_information) %></td>
    <td><%= link_to 'Destroy', tournament_information, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<ul>
	<li><%= link_to 'Angemeldete Spieler Bearbeiten', :controller => "tournament_players", :action => "index" %></li>
	<li><%= link_to "Ergebnisse eintragen", :controller => "tournament_results", :action => "index" %></li>
	<li><%= link_to 'Neues Turnier eintragen', new_tournament_information_path %></li>
	<li><%= link_to 'Zur Ausschreibung', :controller => "tournament_informations", :action  => "ausschreibung" %></li>
</ul>
