<p>
<% if can? :manage, TournamentResult %>
<%= link_to "Neue Runde", :controller => "tournament_results", :action => "new" %> | 
<%= link_to "Turnierverwaltung", :controller => "tournament_informations", :action => "index" %> | 
<%= link_to "Letzte Runde Löschen", {:controller => "tournament_results", :action => "destroy"}, confirm: 'Are you sure?', method: :delete %> | 
<%= link_to "Alle Runde Löschen", {:controller => "tournament_results", :action => "destroy_all"}, confirm: 'Are you sure?', method: :delete %> 
<% else %>
	<%= link_to "Turnier Ausschreibung", {:controller => "tournament_informations", :action => "ausschreibung"} %>
<% end %>
</p>

<table>
	<% i=0
		@rounds.each do |round| 
		i = i+1 
	%>
	<tr>
		<th colspan ="3"> Runde <%= i %></th>
	</tr>
  <tr>
    <th>Spieler1</th>
    <th>Ergebnis</th>
    <th>Spieler2</th>
  </tr>
		<% round.each do |tournament_result| %>
			<tr>
				<td>
					<%
						if tournament_result.spieler1 == nil
					%>
						Error: Spieler nicht gefunden.
					<% else 
						playername = tournament_result.spieler1.name.+(', '.+(tournament_result.spieler1.vorname))
					%>
						<% if can? :manage, TournamentResult %>
							<%= link_to playername, :controller => "tournament_results", :action => "edit", :id => tournament_result.id, :player => 1 %>
						<% else %>
							<%= playername %>
						<% end %>
					<% end %>
					</td>			
				<td>
					<% case (tournament_result.ergebnis)
						when 1					
					%>
						<b> 1 : 0 </b>
					<% when 2 %>
						<b> 0 : 1 </b>
					<% when 3 %>
						<b> 1 : 0 </b>
					<% else %>
						N/A
					<% end %></td>
				<td>
					<% 
												
						if tournament_result.spieler2 == nil 
							if tournament_result.ergebnis == 3
							%>
							Freilos
							<% else %>
							Error: Spieler nicht gefunden.
							<% end %>
					<% else 
						playername = tournament_result.spieler2.name.+(', '.+(tournament_result.spieler2.vorname))
					%>
						<% if can? :manage, TournamentResult %>
							<%= link_to playername, :controller => "tournament_results", :action => "edit", :id => tournament_result.id, :player => "2" %>
						<% else %>
							<%= playername %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>
<% unless @gewinner == nil %>
	<center><h2>Gewinner des Turnieres: <b><%= @gewinner.vorname.+(" ".+ @gewinner.name) %></b></h2></center>
<% end %>
