<div style="border:1px solid gray;float:right;padding:5px;margin-top:10px;">
   <b style=" font-size:130%;color:#975b04;">Untermen&uuml;:</b><br>
   <ul style="padding:0px 0px 0px 15px; margin:0px;">
      <li><%= link_to "Ausschreibung", :controller => "tournament_informations", :action => "ausschreibung" %></li>     
      <li><%= link_to "Regestrieren", :controller => "tournament_players", :action => "new" %></li>      
   </u>
</div><h1>Listing tournament_players</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Vorname</th>
    <th>Email</th>
    <th>Dgob</th>
    <th>Studi</th>
    <th>Rank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournament_players.each do |tournament_player| %>
  <tr>
    <td><%= tournament_player.name %></td>
    <td><%= tournament_player.vorname %></td>
    <td><%= tournament_player.email %></td>
    <td><%= tournament_player.dgob %></td>
    <td><%= tournament_player.studi %></td>
    <td><%= tournament_player.rank %></td>
    <td><%= link_to 'Show', tournament_player %></td>
    <td><%= link_to 'Edit', edit_tournament_player_path(tournament_player) %></td>
    <td><%= link_to 'Destroy', tournament_player, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tournament player', new_tournament_player_path %>
