<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @forum_post.content %>
</p>

<p>
  <b>User:</b>
  <%= @forum_post.user_id %>
</p>

<p>
  <b>Forum thread:</b>
  <%= @forum_post.forum_thread_id %>
</p>


<%= link_to 'Edit', edit_forum_post_path(@forum_post) %> |
<%= link_to 'Back', forum_posts_path %>
